<div class="lab">
    <div class="mb-3">
        <h1>profile</h1>
        <label for="formFile" class="form-label">NAME</label><br>
        <input class="form-control" type="text" id="formFile">
    </div>
    <div class="mb-3">
        <label for="formFileMultiple" class="form-label">EMAIL</label><br>
        <input class="form-control" type="text" id="formFileMultiple" >
    </div>
    <div class="mb-3">
        <label for="formFileDisabled" class="form-label">PASSWORD</label><br>
        <input class="form-control" type="password" id="formFileDisabled">
    </div><br>
    <div>
        <button type="button" class="btn1">cancel</button>
        <button type="button" class="btn2">create</button>
    </div>
    </div>
